CUSTOMER_AI_ENV=dev
CUSTOMER_AI_STORAGE_ROOT=storage
CUSTOMER_AI_DEFAULT_TENANT_ID=demo-tenant
CUSTOMER_AI_LLM_PROVIDER=local
CUSTOMER_AI_ASR_PROVIDER=local
CUSTOMER_AI_TTS_PROVIDER=local
CUSTOMER_AI_VECTOR_PROVIDER=local
CUSTOMER_AI_RTC_PROVIDER=local
CUSTOMER_AI_BUSINESS_PROVIDER=local
CUSTOMER_AI_OPENAI_API_KEY=
CUSTOMER_AI_OPENAI_BASE_URL=
CUSTOMER_AI_ALIYUN_ACCESS_KEY_ID=
CUSTOMER_AI_ALIYUN_ACCESS_KEY_SECRET=
CUSTOMER_AI_ALIYUN_APP_KEY=
CUSTOMER_AI_ALIYUN_TOKEN_REGION=cn-shanghai
CUSTOMER_AI_ALIYUN_TOKEN_DOMAIN=nls-meta.cn-shanghai.aliyuncs.com
CUSTOMER_AI_ALIYUN_ASR_ENDPOINT=https://nls-gateway-cn-shanghai.aliyuncs.com/stream/v1/asr
CUSTOMER_AI_ALIYUN_TTS_ENDPOINT=https://nls-gateway-cn-shanghai.aliyuncs.com/stream/v1/tts
CUSTOMER_AI_ALIYUN_SPEECH_TIMEOUT_SECONDS=30
CUSTOMER_AI_ALIYUN_ASR_FORMAT=wav
CUSTOMER_AI_ALIYUN_ASR_SAMPLE_RATE=16000
CUSTOMER_AI_ALIYUN_ASR_ENABLE_PUNCTUATION_PREDICTION=true
CUSTOMER_AI_ALIYUN_ASR_ENABLE_INVERSE_TEXT_NORMALIZATION=true
CUSTOMER_AI_ALIYUN_ASR_ENABLE_VOICE_DETECTION=false
CUSTOMER_AI_ALIYUN_TTS_VOICE=xiaoyun
CUSTOMER_AI_ALIYUN_TTS_FORMAT=wav
CUSTOMER_AI_ALIYUN_TTS_SAMPLE_RATE=16000
CUSTOMER_AI_ALIYUN_TTS_VOLUME=50
CUSTOMER_AI_ALIYUN_TTS_SPEECH_RATE=0
CUSTOMER_AI_ALIYUN_TTS_PITCH_RATE=0
CUSTOMER_AI_TENCENT_SECRET_ID=
CUSTOMER_AI_TENCENT_SECRET_KEY=
CUSTOMER_AI_TENCENT_REGION=ap-beijing
CUSTOMER_AI_TENCENT_ASR_ENGINE_MODEL_TYPE=16k_zh
CUSTOMER_AI_TENCENT_ASR_VOICE_FORMAT=wav
CUSTOMER_AI_TENCENT_TTS_VOICE_TYPE=101001
CUSTOMER_AI_TENCENT_TTS_CODEC=wav
CUSTOMER_AI_TENCENT_TTS_SAMPLE_RATE=16000
CUSTOMER_AI_TENCENT_TTS_SPEED=0
CUSTOMER_AI_TENCENT_TTS_VOLUME=1
CUSTOMER_AI_TENCENT_TTS_ENABLE_SUBTITLE=false
CUSTOMER_AI_QDRANT_URL=
CUSTOMER_AI_QDRANT_API_KEY=
CUSTOMER_AI_QDRANT_COLLECTION_PREFIX=customer_ai
CUSTOMER_AI_PINECONE_API_KEY=
CUSTOMER_AI_PINECONE_INDEX_HOST=
CUSTOMER_AI_PINECONE_INDEX_NAME=
CUSTOMER_AI_PINECONE_NAMESPACE_PREFIX=customer_ai
CUSTOMER_AI_MILVUS_URI=
CUSTOMER_AI_MILVUS_TOKEN=
CUSTOMER_AI_MILVUS_COLLECTION_PREFIX=customer_ai
CUSTOMER_AI_BUSINESS_API_BASE_URL=
CUSTOMER_AI_BUSINESS_API_KEY=
CUSTOMER_AI_BUSINESS_API_TIMEOUT_SECONDS=8
CUSTOMER_AI_BUSINESS_TOOL_ENDPOINT_MAP_JSON={}
CUSTOMER_AI_BUSINESS_GRAPHQL_ENDPOINT=
CUSTOMER_AI_BUSINESS_GRAPHQL_API_KEY=
CUSTOMER_AI_BUSINESS_GRAPHQL_TIMEOUT_SECONDS=8
CUSTOMER_AI_BUSINESS_GRAPHQL_QUERY_MAP_JSON={}
CUSTOMER_AI_BUSINESS_GRAPHQL_RESPONSE_PATH_MAP_JSON={}
CUSTOMER_AI_BUSINESS_GRAPHQL_HEADERS_JSON={}
CUSTOMER_AI_BUSINESS_GRPC_TARGET=
CUSTOMER_AI_BUSINESS_GRPC_TIMEOUT_SECONDS=8
CUSTOMER_AI_BUSINESS_GRPC_METHOD_MAP_JSON={}
CUSTOMER_AI_BUSINESS_GRPC_METADATA_JSON={}
CUSTOMER_AI_HOST_SESSION_COOKIE_NAME=host_session
CUSTOMER_AI_HOST_SESSION_MAP_JSON={}
CUSTOMER_AI_HOST_TOKEN_MAP_JSON={}
CUSTOMER_AI_HOST_JWT_SECRET=
CUSTOMER_AI_HOST_JWT_ISSUER=
CUSTOMER_AI_HOST_JWT_AUDIENCE=
CUSTOMER_AI_KNOWLEDGE_DOMAIN_MAP_JSON={}
